extends layout
block content

    h3 Rozpis zápasov:
    if leagues.length !== 0
        #select-wrap
            select.form-input(id='league-select')
                each league, i in leagues
                    option(value=league.id) #{league.name}
        each league in leagues
            dl(id="l"+league.id, class="league")
                h2 #{league.name}
                each match,i in matches
                    if match.league === league.id
                        dt.list-group-item.zapas="Kolo "+match.round +" - "+match.date.toDateString()
                            if(match.home===match.guest)
                                dd.list-group-item.zapas=match.home + " - VOĽNO"
                            else
                                dd.list-group-item.zapas=match.home + " - " + match.guest
    else
        p Rozpis zápasov zatiaľ nebol zverejnený.

    if leagues.length !== 0
        script.
            let lid = "#{leagueID}";
            if(!lid){
                lid="#{leagues[0].id}";
            }
            document.getElementById("league-select").value = lid;
            document.getElementById("league-select").addEventListener("change",(e)=>{
                updateSchedule(e.target.value);
            });

            function updateSchedule(id) {
                const leagues = document.getElementsByClassName("league");
                for (let i = 0; i < leagues.length; i++) {
                    leagues[i].style.display="none";
                    if(leagues[i].getAttribute("id")==="l"+id){
                        leagues[i].style.display="block";
                    }
                }
            }
            updateSchedule(lid);