extends layout
block content

    h2 Vitaj #{name}!
    h3 Aktuálne súťaže:
    if leagues.length !== 0
        dl.list-group.teams
            each league, i in leagues
                dt.list-group-item=league.name
                dd.list-group-item="Začiatok prvej časti: " + league.start_date_first.toDateString()
                dd.list-group-item="Začiatok druhej časti: " + league.start_date_second.toDateString()
                if(league.opened)
                    dd.list-group-item.open="Prihlasovanie otvorené"
                else
                    dd.list-group-item.closed="Prihlasovanie ukončené"
    else
        p Nie sú k dispozícii žiadne súťaže